[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ucimlrepo = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
xgboost = "*"
pandas = "*"
flask = "*"
requests = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.14"
